                <ion-modal id="description-modal">
                    <ion-header>
                        <ion-toolbar>
                            <ion-title id="modal-title">Deskripsi Produk</ion-title>
                            <ion-buttons slot="end">
                                <ion-button onclick="dismissModal('description-modal')">Close</ion-button>
                            </ion-buttons>
                        </ion-toolbar>
                    </ion-header>
                    <ion-content class="ion-padding">
                        <div id="modal-content" class="text-gray-700 leading-relaxed">
                            <ion-spinner name="dots"></ion-spinner>
                        </div>
                    </ion-content>
                </ion-modal>