                <ion-header class="text-gray-700">
                    <ion-toolbar class="text-gray-700">
                        <ion-buttons slot="start" color="primary">
                            <ion-menu-button></ion-menu-button>
                        </ion-buttons>
                            <ion-title>
                                <div class="flex items-center">
                                    <img src="{{site.logo}}" alt="{{site.title}} Logo" class="rounded-full h-6 mr-2">
                                    <span class="text-gray-700 font-bold tracking-wider">{{site.title}}</span>
                                </div>
                            </ion-title>
                        <ion-buttons slot="end">
                            <div class="flex items-center space-x-4 px-4">
                               <ion-button class="relative">
                                    <ion-icon slot="icon-only" name="notifications-outline" color="primary"></ion-icon>
                                    <ion-badge color="danger" class="absolute top-0 right-0 transform translate-x-1/2 -translate-y-1/2"></ion-badge>
                               </ion-button>
                               <ion-avatar class="h-8 w-8 hidden md:block">
                                    <img src="https://api.dicebear.com/7.x/thumbs/svg?seed=android" alt="User">
                               </ion-avatar>
                            </div>
                        </ion-buttons>
                    </ion-toolbar>
                </ion-header>