                        <ion-list class="p-4">
                            <ion-menu-toggle auto-hide="false">
                                <ion-item button class="rounded-md mb-1 text-white mx-2" color="primary"">
                                    <ion-icon slot="start" name="bag-handle-outline"></ion-icon>
                                    <ion-label>Products</ion-label>
                                </ion-item>
                                <ion-item button class="rounded-md mb-1 mx-2">
                                    <ion-icon slot="start" name="receipt-outline"></ion-icon>
                                    <ion-label>Order History</ion-label>
                                </ion-item>
                            </ion-menu-toggle>
                        </ion-list>