                        <ion-list>
                            <ion-menu-toggle auto-hide="false">
                                <ion-item button color="primary"">
                                    <ion-icon slot="start" name="bag-handle-outline"></ion-icon>
                                    <ion-label>Products</ion-label>
                                </ion-item>
                                <ion-item button >
                                    <ion-icon slot="start" name="receipt-outline"></ion-icon>
                                    <ion-label>Order History</ion-label>
                                </ion-item>
                            </ion-menu-toggle>
                        </ion-list>