                        <div class="flex-1 overflow-y-auto">
                            <div class="max-w-7xl p-4 mx-auto">
                                <div class="flex gap-3 flex-wrap justify-between items-center mb-6">
                                <div class="flex items-center-safe md:grid md:items-start gap-2 my-3">
                                    <h2 class="text-2xl font-bold text-gray-800">Popular Products</h2>
                                    <p id="toggle-stok" class="cursor-pointer bg-purple-100 text-purple-800 px-3 py-2.5 rounded-full text-sm">Tampilkan yang tersedia</p>
                                </div>
                                    <ion-searchbar id="product-searchbar" placeholder="Search products..." class="max-w-xs"></ion-searchbar>
                                </div>

                                <!-- Product Grid -->
                                <div class="grid grid-cols-1 sm:grid-cols-1 lg:grid-cols-1 xl:grid-cols-2 gap-4" id="product-grid">
                                    <!-- Product JS -->
                                </div>
                            </div>
                        </div>
