<!DOCTYPE html>
<html lang="{{ site.lang | default: page.lang | default: 'id-ID' }}">

  {% include head.html %}

  <body>
    <ion-app>
        <ion-split-pane content-id="main-content" when="md">
            <!-- Sidebar Menu -->
          {% include ion-menu.html %}

            <!-- Main Content -->
            <div class="ion-page" id="main-content">
              {{ content }}
            <!-- Mobile Chat FAB -->
          {% include chat-fab.html %}
            </div>

        </ion-split-pane>
        <ion-alert trigger="clear-chat-mobile" header="Alert!"></ion-alert>
        <ion-toast duration="3000" message="Hello World!"></ion-toast>
   <small id="footer" class="text-xs text-gray-500">{{site.author}}</small>
{% include scripts/simpleCart.html %}
    </ion-app>
  </body>

</html>
